<div id= "registration" class="registration" style=" background-image: url(images/banners.png);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text_in_block_speakers">
                    <p class="text_one">{{'CONFERENCE ' | translate }}</p>
                    <p class="text_two col-lg-11 col-lg-push-2 col-md-11 col-md-push-2 col-sm-11 col-sm-push-2 col-xs-12">{{'RECORDING ' | translate }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-4 col-sm-push-2 col-xs-8 col-xs-push-2 input-group">
                    <input type="text" class="form-control" placeholder="{{'INPUT_MAIL ' | translate }}" >
                </div>
                <div class="col-lg-6 col-lg-push-3 col-md-3 col-sm-4 col-sm-push-3 col-xs-9 col-xs-push-2">
                    <button class="button_registration">{{'REGISTER ' | translate }}</button>
                </div>
            </div>
            <div class="row block_with_icons">
                <div class="col-lg-2  col-xs-4 col-sm-2 col-md-2">
                    <p><img src="images/icon1_registration.png"></p>
                    <p>{{'ONLINE_PART ' | translate }}</p></div>
                <div class="col-lg-2  col-xs-4 col-sm-2 col-md-2">
                    <p><img src="images/icon2_registration.png"></p>
                    <p>{{'THREE_DAYS ' | translate }}</p></div>
                <div class="col-lg-2 col-xs-4 col-sm-2 col-md-2">
                    <p><img src="images/icon3_registration.png"></p>
                    <p>{{'TWELVE_OF_EXPERTS ' | translate }}</p></div>
                <div class="col-lg-2  col-xs-6 col-sm-2 col-md-2">
                    <p><img src="images/icon4_registration.png"></p>
                    <p>{{'ONLINE_TRANSLATION ' | translate }}</p></div>
                <div class="col-lg-2 col-xs-6 col-sm-2 col-md-2">
                    <p><img src="images/icon5_registration.png"></p>
                    <p>{{'BONUSES ' | translate }}</p></div>
            </div>
        </div>
    </div>
</div>

<div id= "speakers" class="speak" style=" background-image: url(images/background_speakers.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12">
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">{{'SPEAKERS ' | translate }}</p>
                    <p class="text2">{{'KNOWN_PRACTICES ' | translate }}</p>
                    <div class="center_line">
                        <img src="images/speakers_line.jpg"></div>
                </div>
                <div class="speakers">
                    <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1 right_button button_none">
                        <img src="images/right_button_in_block_speakers.jpg">
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-5 speaker" style=" background-image: url(images/speakers1.jpg);" >
                        <h5>{{'NAME ' | translate }}</h5>
                        <p>{{'POSITION ' | translate }}</p>
                        <p class="speakers_logo"><img src="images/speakers_logo.jpg"></p>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-5 speaker" style=" background-image: url(images/speakers2.jpg);" >
                        <h5>{{'NAME ' | translate }}</h5>
                        <p>{{'POSITION ' | translate }}</p>
                        <p class="speakers_logo"><img src="images/speakers_logo.jpg"></p>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-5 speaker" style=" background-image: url(images/speakers3.jpg);" >
                        <h5>{{'NAME ' | translate }}</h5>
                        <p>{{'POSITION ' | translate }}</p>
                        <p class="speakers_logo"><img src="images/speakers_logo.jpg"></p>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-5 speaker" style=" background-image: url(images/speakers4.jpg);" >
                        <h5>{{'NAME ' | translate }}</h5>
                        <p>{{'POSITION ' | translate }}</p>
                        <p class="speakers_logo"><img src="images/speakers_logo.jpg"></p>
                    </div>
                    <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1 left_button button_none">
                        <img src="images/left_button_in_block_speakers.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id= "reasons" class="reason" style=" background-image: url(images/background_reasons.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">{{'REASONS ' | translate }}</p>
                    <p class="text2">{{'VISIT ' | translate }}е</p>
                    <div class="center_line">
                        <img src="images/white_line.jpg"></div>
                </div>
                <div class="col-lg-5 col-lg-push-1 col-sm-6 col-md-6 col-xs-12 block_with_reasons_one" >
                    <div>
                        <p class="number">{{'ONE ' | translate }}</p>
                        <p class="reasons">{{'APPROACH ' | translate }}</p>
                    </div>
                    <div>
                        <p class="number">{{'TWO ' | translate }}</p>
                        <p class="reasons">{{'APPROACH ' | translate }}</p>
                    </div>
                    <div>
                        <p class="number">{{'THREE ' | translate }}</p>
                        <p class="reasons">{{'APPROACH ' | translate }}</p>
                    </div></div>
                <div class="col-lg-5 col-lg-push-2 col-sm-6 col-md-6  col-xs-12 block_with_reasons_two" >
                    <div>
                        <p class="number">{{'FOUR ' | translate }}</p>
                        <p class="reasons">{{'APPROACH ' | translate }}</p>
                    </div>
                    <div>
                        <p class="number">{{'FIVE ' | translate }}</p>
                        <p class="reasons">{{'APPROACH ' | translate }}</p>
                    </div>
                    <div>
                        <p class="number">{{'SIX ' | translate }}</p>
                        <p class="reasons">{{'APPROACH ' | translate }}</p>
                    </div></div>
                <div class="row button">
                    <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-4 col-sm-push-2 col-xs-10 col-xs-push-2 input-group">
                        <input type="text" class="form-control" placeholder="{{'INPUT_MAIL ' | translate }}" >
                    </div>
                    <div class="col-lg-6 col-lg-push-3 col-md-3 col-sm-4 col-sm-push-3 col-xs-10 col-xs-push-2">
                        <button class="button_registration">{{'REGISTER ' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="participants" style=" background-image: url(images/background_speakers.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12">
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">{{'FOR_WHOM ' | translate }}</p>
                    <div class="center_line">
                        <img src="images/speakers_line.jpg"></div>
                </div>
                <div class="col-lg-5 col-sm-6 col-md-6 col-xs-12 image">
                    <img src="images/image_participants.jpg">
                    <div class="participant">
                        <p class="text_in_block_participant">{{'REGISTRATION ' | translate }}</p>
                        <ul>
                            <li>{{'MANUAL ' | translate }}</li>
                            <li>{{'OPPORTUNITY ' | translate }}</li>
                            <li>{{'EFFICIENCY ' | translate }}</li>
                            <li>{{'OPPORTUNITY_TO_CHECK ' | translate }}</li>
                            <li>{{'RECOMMENDATION ' | translate }}</li>
                        </ul>
                    </div>
                    <div class="result">
                        <img src="images/your_resolt.jpg">
                        <p>{{'TRAFFIC ' | translate }}</p>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-push-2 col-sm-6 col-md-6 col-xs-12 image">
                    <img src="images/image2_participants.jpg">
                    <div class="participant">
                        <p class="text_in_block_participant">{{'FOR_PROFESSIONALS ' | translate }}</p>
                        <ul>
                            <li>{{'TECHNOLOGIES ' | translate }}</li>
                            <li>{{'METHODS ' | translate }}</li>
                            <li>{{'TECHNOLOGY_ATTRACTION ' | translate }}</li>
                            <li>{{'TECHNOLOGY_OF_INCREASE ' | translate }}</li>
                        </ul>
                    </div>
                    <div class="result">
                        <img src="images/your_resolt.jpg">
                        <p>{{'INCREASE_TRAFFIC ' | translate }}</p>
                        <p>{{'CUSTOMERS ' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="profit" style=" background-image: url(images/background_profit.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">{{'TRAINING ' | translate }}</p>
                    <div class="center_line">
                        <img src="images/white_line.jpg">
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6 col-md-6 col-xs-12">
                    <div class="profits">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <p>{{'ALGORITHM ' | translate }}</p>
                    </div>
                    <div class="profits">
                        <span class="glyphicon glyphicon-search"></span>
                        <p>{{'EXPERIENCE_AND_KNOWLEDGE ' | translate }}</p>
                    </div>
                    <div class="profits">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <p>{{'BONUS_MATERIALS ' | translate }}</p>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-push-2 col-sm-6 col-md-6 col-xs-12">
                    <div class="profits">
                        <span class="glyphicon glyphicon-user"></span>
                        <p>{{'SIGNIFICANT_INCREASE_TRAFFIC ' | translate }}</p>
                    </div>
                    <div class="profits">
                        <span class="glyphicon glyphicon-comment"></span>
                        <p>{{'COMMUNICATION ' | translate }}</p>
                    </div>
                    <div class="profits">
                        <span class="glyphicon glyphicon-ok"></span>
                        <p>{{'REPORTS ' | translate }}</p>
                    </div>
                </div>
                <div class="block_with_text">
                    <p class="text">{{'THE_MAIN_THING ' | translate }}</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-4 col-sm-push-2 col-xs-10 col-xs-push-2 input-group">
                        <input type="text" class="form-control" placeholder="{{'INPUT_MAIL ' | translate }}" >
                    </div>
                    <div class="col-lg-6 col-lg-push-3 col-md-3 col-sm-4 col-sm-push-3 col-xs-10 col-xs-push-2">
                        <button class="button_registration">{{'REGISTER ' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="placement" style=" background-image: url(images/background_placement.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">{{'WHERE ' | translate }}</p>
                    <div class="center_line">
                        <img src="images/speakers_line.jpg">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-8 placement_block" >
                    <img src="images/placement1.jpg">
                    <p>{{'FREE_PLAY_ONLINE ' | translate }}</p>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-8 placement_block">
                    <img src="images/placement2.jpg">
                    <p>{{'HOME_AND_OFFICE ' | translate }}</p>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-8 placement_block">
                    <img src="images/placement3.jpg">
                    <p>{{'ACCESS ' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="program" style=" background-image: url(images/background_speakers.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">{{'PROGRAM ' | translate }}</p>
                    <div class="center_line">
                        <img src="images/speakers_line.jpg">
                    </div >
                </div>
                <div class="col-lg-1 col-lg-push-1 col-sm-1 col-md-1 col-xs-1" >
                    <p class="side_panel"><img src="images/side_panel_program.jpg"></p>
                </div>
                <div class="col-lg-10 col-lg-push-1 col-sm-10 col-md-10 col-xs-11" >
                    <ul class="tabs">
                        <li>
                            <input type="radio" name="tabs" id="tab-1" checked>
                            <label for="tab-1">
                                <p class="horizontal_line1"><img src="images/line1_program.jpg"></p>
                                <p class="data1"> {{'FIRST_DAY ' | translate }}</p>
                                <p class="data2"> {{'THE_SECOND_OF_SEPTEMBER ' | translate }}</p>
                                <p class="horizontal_line4"><img src="images/line4_program.jpg"></p>
                            </label>
                            <div class="tab-content">
                                <span><img src="images/day_program.jpg" ></span>
                                <p class="data_in_tab_content">{{'FRIDAY ' | translate }}</p>
                                <div class="content" style="background-image: url(images/fon_program.jpg);">
                                    <p class="time_program"><img src="images/time_program.jpg"> </p>
                                    <div class="col-lg-3 col-lg-push-1 col-sm-3 col-md-3 col-xs-3">
                                        <p class="tab_content_photo"><img src="images/tab_content_foto.jpg"></p>
                                    </div>
                                    <div class="col-lg-9 col-lg-pull-1 col-sm-9 col-md-9 col-xs-9">
                                        <p class="name" ><span class="text_bold">{{'IVANOV ' | translate }}</span>{{'OWNER ' | translate }}</p>
                                    </div>
                                    <p class="technical_audit"><span class="text_bold"> {{'TECHNOLOGY_AUDIT ' | translate }}</span> {{'INDEX ' | translate }}</p>
                                    <p class="contents">{{'RESULT ' | translate }}</p>
                                </div>
                                <div class="content" style="background-image: url(images/fon_program.jpg);">
                                    <p class="time_program"><img src="images/time_program.jpg"> </p>
                                    <div class="col-lg-3 col-lg-push-1 col-sm-3 col-md-3 col-xs-3">
                                        <p class="tab_content_photo"><img src="images/tab_content_foto.jpg"></p>
                                    </div>
                                    <div class="col-lg-9 col-lg-pull-1 col-sm-9 col-md-9 col-xs-9">
                                        <p class="name" ><span class="text_bold">{{'IVANOV ' | translate }}</span>{{'OWNER ' | translate }}</p>
                                    </div>
                                    <p class="technical_audit"><span class="text_bold"> {{'TECHNOLOGY_AUDIT ' | translate }}</span> {{'INDEX ' | translate }}</p>
                                    <p class="contents">{{'RESULT ' | translate }}</p>
                                </div>
                                <div class="content" style="background-image: url(images/fon_program.jpg);">
                                    <p class="time_program"><img src="images/time_program.jpg"> </p>
                                    <div class="col-lg-3 col-lg-push-1 col-sm-3 col-md-3 col-xs-3">
                                        <p class="tab_content_photo"><img src="images/tab_content_foto.jpg"></p>
                                    </div>
                                    <div class="col-lg-9 col-lg-pull-1 col-sm-9 col-md-9 col-xs-9">
                                        <p class="name" ><span class="text_bold">{{'IVANOV ' | translate }}</span>{{'OWNER ' | translate }}</p>
                                    </div>
                                    <p class="technical_audit"><span class="text_bold"> {{'TECHNOLOGY_AUDIT ' | translate }}</span> {{'INDEX ' | translate }}</p>
                                    <p class="contents">{{'RESULT ' | translate }}</p>
                                </div>
                                <div class="content" style="background-image: url(images/fon_program.jpg);">
                                    <p class="time_program"><img src="images/time_program.jpg"> </p>
                                    <div class="col-lg-3 col-lg-push-1 col-sm-3 col-md-3 col-xs-3">
                                        <p class="tab_content_photo"><img src="images/tab_content_foto.jpg"></p>
                                    </div>
                                    <div class="col-lg-9 col-lg-pull-1 col-sm-9 col-md-9 col-xs-9">
                                        <p class="name" ><span class="text_bold">{{'IVANOV ' | translate }}</span>{{'OWNER ' | translate }}</p>
                                    </div>
                                    <p class="technical_audit"><span class="text_bold"> {{'TECHNOLOGY_AUDIT ' | translate }}</span> {{'INDEX ' | translate }}</p>
                                    <p class="contents">{{'RESULT ' | translate }}</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <input type="radio" name="tabs" id="tab-2">
                            <label for="tab-2">
                                <p class="horizontal_line2"><img src="images/line2_program.jpg"></p>
                                <p class="data1">{{'SECOND_DAY ' | translate }}</p>
                                <p class="data2">{{'THIRD_OF_SEPTEMBER ' | translate }}</p>
                            </label>
                            <div class="tab-content">
                                {{'UT_INIM ' | translate }}
                            </div>
                        </li>
                        <li>
                            <input type="radio" name="tabs" id="tab-3">
                            <label for="tab-3">
                                <p class="horizontal_line"><img src="images/line_program.jpg"></p>
                                <p class="data1"> {{'THE_THIRD_DAY ' | translate }}</p>
                                <p class="data2">{{'FOURTH_OF_SEPTEMBER ' | translate }}</p></label>
                            <div class="tab-content">
                                {{'EXCEPTEUR ' | translate }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="social_network" style=" background-image: url(images/background_social_network.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">{{'TELL ' | translate }}</p>
                </div>
                <p class="social_icons"><img src="images/social_network.jpg"></p>
            </div>
        </div>
    </div>
</div>

<div class="organizer" style=" background-image: url(images/background_organazer.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">{{'ORGANIZER ' | translate }}</p>
                    <div class="center_line">
                        <img src="images/white_line.jpg">
                    </div>
                </div>
                <p class="the_landing_page"><img src="images/the_landing_page.jpg"></p>
                <div class="center-block organiz">
                    <p class="text">{{'CREATING_CUSTOM ' | translate }}</p>
                </div>
                <div class="col-lg-6 col-lg-push-3 col-sm-6 col-md-6 col-xs-10 col-xs-push-1 contact_information2" >
                    <p><i class="fa fa-fighter-jet" aria-hidden="true"></i>{{'SECOND_SITE ' | translate }}</p>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i>{{'SECOND_MAIL ' | translate }}</p>
                </div>
                <div class="col-lg-6 col-lg-push-1 col-sm-6 col-md-6 col-xs-10 col-xs-push-1 contact_information2" >
                    <p><i class="fa fa-phone" aria-hidden="true"></i>Тел: +375 (     ) 331-76-81</p>
                    <p><i class="fa fa-skype" aria-hidden="true"></i>{{'SECOND_SKYPE ' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="partners" style=" background-image: url(images/background_speakers.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">{{'PARTNERS_AND_SPEAKERS ' | translate }}</p>
                    <p class="text2">{{'IT_COMPANIES ' | translate }}</p>
                    <div class="center_line">
                        <img src="images/speakers_line.jpg">
                    </div >
                </div>
                <div class="logo_partners">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block_free_registration" style=" background-image: url(images/background_free_registration.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">{{'FREE_REGISTRATION ' | translate }}</p>
                </div>
                <div class="row button_in_block_registration">
                    <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-4 col-sm-push-2 col-xs-8 col-xs-push-2 input-group">
                        <input type="text2" class="form-control" placeholder="{{'INPUT_MAIL ' | translate }}" >
                    </div>
                    <div class="col-lg-6 col-lg-push-3 col-md-3 col-sm-4 col-sm-push-3 col-xs-9 col-xs-push-2">
                        <button class="button_registration">{{'REGISTER ' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





