<div class="organizer" style=" background-image: url(images/background_organazer.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">Организатор конференции</p>
                    <div class="center_line">
                        <img src="images/white_line.jpg">
                    </div>
                </div>
                <p class="the_landing_page"><img src="images/the_landing_page.jpg"></p>
                <div class="center-block organiz">
                    <p class="text">Создание Лейдинг Пейдж на заказаз гарантией результата</p>
                </div>
                <div class="col-lg-6 col-lg-push-3 col-sm-6 col-md-6 col-xs-6 contact_information2" >
                    <p><i class="fa fa-fighter-jet" aria-hidden="true"></i> Сайт:  thelandingpage.by</p>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> e-mail: order@thelandingpage.by</p>
                </div>
                <div class="col-lg-6 col-lg-push-1 col-sm-6 col-md-6 col-xs-6 contact_information2" >
                    <p><i class="fa fa-phone" aria-hidden="true"></i> Тел: +375 (     ) 331-76-81</p>
                    <p><i class="fa fa-skype" aria-hidden="true"></i> Skype: thelandingpage</p>
                </div>
            </div>
        </div>
    </div>
</div>