<div class="partners" style=" background-image: url(images/background_speakers.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">Партнеры и спикеры конференции</p>
                    <p class="text2">это топовые компании данной отрасли</p>
                    <div class="center_line">
                        <img src="images/speakers_line.jpg">
                    </div >
                </div>
                <div class="logo_partners">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                    <img src="images/logo_partners.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
