<div class="placement" style=" background-image: url(images/background_placement.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">Где и как проходит тренинг?</p>
                    <div class="center_line">
                        <img src="images/speakers_line.jpg">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 placement_block" >
                    <img src="images/placement1.jpg">
                    <p>Бесплатная онлайн трансляция на мобильные телефоны и ПК</p>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 placement_block">
                    <img src="images/placement2.jpg">
                    <p>У Вас дома или в офисе, кафе или машине</p>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 placement_block">
                    <img src="images/placement3.jpg">
                    <p>Доступ на трансляцию высылается на e-mail или смс</p>
                </div>
            </div>
        </div>
    </div>
</div>