<div class="profit" style=" background-image: url(images/background_profit.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">На тренинге вы получите</p>
                    <div class="center_line">
                        <img src="images/white_line.jpg">
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6 col-md-6 col-xs-12">
                    <div class="profits">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <p>Вы получите пошаговый алгоритм создания посадочных страниц и настройки рекламы</p>
                    </div>
                    <div class="profits">
                        <span class="glyphicon glyphicon-search"></span>
                        <p>Опыт и знания 12 специалистов и практиков</p>
                    </div>
                    <div class="profits">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <p>Бонусные учебные материалы по трафику, конферсии и продажам</p>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-push-2 col-sm-6 col-md-6 col-xs-12">
                    <div class="profits">
                        <span class="glyphicon glyphicon-user"></span>
                        <p>Значительное увеличение трафика и продаж Ваших проектов</p>
                    </div>
                    <div class="profits">
                        <span class="glyphicon glyphicon-comment"></span>
                        <p>Новые знакомства и общение с другими спикера и участниками проекта</p>
                    </div>
                    <div class="profits">
                        <span class="glyphicon glyphicon-ok"></span>
                        <p>Высокое качество докладов, видео-трансляции и организации мероприятия</p>
                    </div>
                </div>
                <div class="block_with_text">
                    <p class="text">А главное - отсутствие рекламы, воды, спама и тролей!</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-4 col-sm-push-2 col-xs-12 input-group">
                        <input type="text" class="form-control" placeholder="Введите ваш e-mail" >
                    </div>
                    <div class="col-lg-6 col-lg-push-3 col-md-3 col-sm-4 col-sm-push-3 col-xs-12">
                        <button class="button_registration">Зарегестрироваться бесплатно</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>