<div id= "reasons" class="reason" style=" background-image: url(images/background_reasons.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">6 причин</p>
                    <p class="text2">посетить данное мероприятие</p>
                    <div class="center_line">
                        <img src="images/white_line.jpg"></div>
                </div>
                <div class="col-lg-5 col-lg-push-1 col-sm-6 col-md-6 col-xs-12 block_with_reasons_one" >
                    <div>
                        <p class="number">01</p>
                        <p class="reasons">Свежий подход к достижению личного и профессионального успеха</p>
                    </div>
                    <div>
                        <p class="number">02</p>
                        <p class="reasons">Свежий подход к достижению личного и профессионального успеха</p>
                    </div>
                    <div>
                        <p class="number">03</p>
                        <p class="reasons">Свежий подход к достижению личного и профессионального успеха</p>
                    </div></div>
                <div class="col-lg-5 col-lg-push-2 col-sm-6 col-md-6 col-xs-12 block_with_reasons_two" >
                    <div>
                        <p class="number">04</p>
                        <p class="reasons">Свежий подход к достижению личного и профессионального успеха</p>
                    </div>
                    <div>
                        <p class="number">05</p>
                        <p class="reasons">Свежий подход к достижению личного и профессионального успеха</p>
                    </div>
                    <div>
                        <p class="number">06</p>
                        <p class="reasons">Свежий подход к достижению личного и профессионального успеха</p>
                    </div></div>
                <div class="row button">
                    <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-4 col-sm-push-2 col-xs-12 input-group">
                        <input type="text" class="form-control" placeholder="Введите ваш e-mail" >
                    </div>
                    <div class="col-lg-6 col-lg-push-3 col-md-3 col-sm-4 col-sm-push-3 col-xs-12">
                        <button class="button_registration">Зарегестрироваться бесплатно</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>