<div id= "registration" class="registration" style=" background-image: url(images/banners.png);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text_in_block_speakers">
                    <p class="text_one">Лучшая конференция в Минске</p>
                    <p class="text_two col-lg-11 col-lg-push-2 col-md-11 col-md-push-2 col-sm-11 col-sm-push-2 col-xs-12">Запишитесь на лучшую конференцию прямо сейчас  и получи скидки и подарок от партнеров</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-4 col-sm-push-2 col-xs-12 input-group">
                    <input type="text" class="form-control" placeholder="Введите ваш e-mail" >
                </div>
                <div class="col-lg-6 col-lg-push-3 col-md-3 col-sm-4 col-sm-push-3 col-xs-12">
                    <button class="button_registration">Зарегестрироваться бесплатно</button>
                </div>
            </div>
            <div class="row block_with_icons">
                <div class="col-lg-2  col-xs-4 col-sm-2 col-md-2">
                    <p><img src="images/icon1_registration.png"></p>
                    <p>Бесплатное онлай участие</p></div>
                <div class="col-lg-2  col-xs-4 col-sm-2 col-md-2">
                    <p><img src="images/icon2_registration.png"></p>
                    <p>3 дня полезных знаний</p></div>
                <div class="col-lg-2 col-xs-4 col-sm-2 col-md-2">
                    <p><img src="images/icon3_registration.png"></p>
                    <p>12 известных экспертов</p></div>
                <div class="col-lg-2  col-xs-6 col-sm-2 col-md-2">
                    <p><img src="images/icon4_registration.png"></p>
                    <p>Онлайн трансляция на все устройства и страны</p></div>
                <div class="col-lg-2 col-xs-6 col-sm-2 col-md-2">
                    <p><img src="images/icon5_registration.png"></p>
                    <p>Бонусы и подарки от партнеров</p></div>
            </div>
        </div>
    </div>
</div>