<div class="social_network" style=" background-image: url(images/background_social_network.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12" >
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">Нравится подход к качеству? - Расскажи об этом друзьям</p>
                </div>
                <p class="social_icons"><img src="images/social_network.jpg"></p>
            </div>
        </div>
    </div>
</div>