<div id= "speakers" class="speak" style=" background-image: url(images/background_speakers.jpg);">
    <div class="col-lg-8 col-lg-push-2 col-sm-12 col-md-12 col-xs-12">
        <div class="container">
            <div class="row">
                <div class="center-block">
                    <p class="text">Спикеры</p>
                    <p class="text2">только известные специалисты практики</p>
                    <div class="center_line">
                        <img src="images/speakers_line.jpg"></div>
                </div>
                <div class="speakers">
                    <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1 right_button">
                        <img src="images/right_button_in_block_speakers.jpg">
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-5 speaker" style=" background-image: url(images/speakers1.jpg);" >
                        <h5>Дмитрий Иванов</h5>
                        <p>владелец компании ukropmedia.ru</p>
                        <p class="speakers_logo"><img src="images/speakers_logo.jpg"></p>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-5 speaker" style=" background-image: url(images/speakers2.jpg);" >
                        <h5>Дмитрий Иванов</h5>
                        <p>владелец компании ukropmedia.ru</p>
                        <p class="speakers_logo"><img src="images/speakers_logo.jpg"></p>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-5 speaker" style=" background-image: url(images/speakers3.jpg);" >
                        <h5>Дмитрий Иванов</h5>
                        <p>владелец компании ukropmedia.ru</p>
                        <p class="speakers_logo"><img src="images/speakers_logo.jpg"></p>
                    </div>
                    <div class="col-lg-2col-sm-2 col-md-2 col-xs-5 speaker" style=" background-image: url(images/speakers4.jpg);" >
                        <h5>Дмитрий Иванов</h5>
                        <p>владелец компании ukropmedia.ru</p>
                        <p class="speakers_logo"><img src="images/speakers_logo.jpg"></p>
                    </div>
                    <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1 left_button">
                        <img src="images/left_button_in_block_speakers.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>