
/*--------------------Header--------------------*/
#header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6e4384+1,cf2673+60 */
    background: rgb(110,67,132); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(110,67,132,1) 1%, rgba(207,38,115,1) 60%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(110,67,132,1) 1%,rgba(207,38,115,1) 60%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(110,67,132,1) 1%,rgba(207,38,115,1) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#header {
  padding-top: 12px;
  padding-bottom: 66px;
  font-size: 20px;
  z-index: 5;
  font-weight: 300;
  text-align: left;
}
#header div div div div
{
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
}
.free_registration {
    margin-top: 14px!important;
    padding-left: 0px!important;
}
.partner {
  margin-top: 15px!important;
  padding-left: 57px!important;
}
.contact_information {
  margin-top: -7px;
  display: inline-block;
  width: 20%;
}


/*--------------------Registration--------------------*/


.registration
 {
  padding-bottom: 45%;
}
.text_one{
  padding-top: 63px;
  text-align: center;
  font-size: 48px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.text_two {
  font-size: 24px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  line-height: 1.25;
  text-align: center;
  display: inline-block;
  width: 60%;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 32px;
}
.form-control {
  padding: 6px 12px;
  font-size: 14px;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgba(255, 255, 255, 0);
  background-image: none;
  font-size: 16px;
  font-family: "ProximaNova";
  color: white;
  line-height: 1.5;
}
input[type="text"]::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
}
input[type="text"]::-moz-placeholder {
  font-size: 16px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
}
.button_registration {
  font-size: 16px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6e4384+1,cf2673+60 */
  background: rgb(110,67,132); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(110,67,132,1) 1%, rgba(207,38,115,1) 60%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(110,67,132,1) 1%,rgba(207,38,115,1) 60%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(110,67,132,1) 1%,rgba(207,38,115,1) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e4384', endColorstr='#cf2673',GradientType=1 ); /* IE6-9 */
  padding: 7.8px 5.5px;
  font-size: 14px;
  border-style: none;
}

.button_registration{
  font-size: 16px;
  font-family: "ProximaNova";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  margin-left: 13px;
}
.input-group {
    margin-left: -29px;
}
.block_with_icons{
    font-size: 16px;
    font-family: "ProximaNova";
    color: rgb(255, 255, 255);
    line-height: 1.25;
    text-align: center;
    padding-top: 12%;
    }
.block_with_icons > div {
    margin-left: 22px;
}


/*--------------------Speakers--------------------*/


.text {
  font-size: 27px;
  font-family: "ProximaNova";
  color: rgb( 68, 68, 68 );
  line-height: 0.933;
  text-align: center;
}
.text2 {
  margin-top:-1px;
  font-size: 20px;
  font-family: "ProximaNova";
  color: rgb( 68, 68, 68 );
  line-height: 0.933;
  text-align: center;
}
div#speakers {
    padding-top: 4%;
}
.center-block div img {
    padding-left: 66%;
}
.center_line {

padding-right:28%;
}
.speaker {
    margin-left: 32px;
}
.speaker > img {
    width: 92%;
}
.left_button {
    margin-left: 12px;
    padding-top: 15%;
}
.speaker {
    padding-top: 191px;
    margin-left: 27px;
    margin-right: 3px;
    background: no-repeat;
    background-size: contain;
}
.right_button {
    padding-left: 56px;
    padding-top: 15%;
}
.speakers {
    padding-bottom: 40%;
}
.speaker h5 {
    margin-top: -7px;
    font-size: 15px;
    font-family: "ProximaNova";
    color: rgb( 68, 68, 68 );
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
}
.speaker p{
  padding-top: -7px;
  font-size: 14px;
  font-family: "ProximaNova";
  color: rgb( 68, 68, 68 );
  line-height: 1.143;
  text-align: center;
}
.speakers_logo > img {
    width: 52%;
}
.center-block{
padding-bottom:4%
}


/*--------------------Reasons--------------------*/


#reasons p{
  color: rgb( 255, 255, 255 );
}
div#reasons {
    padding-bottom: 40%;
    background-size: contain;
}
.speak {
    padding-bottom: 35%;
}
.reasons{
  font-size: 16px;
  font-family: "ProximaNova";
  color: rgb( 255, 255, 255 );
  line-height: 1.313;
  text-align: left;
}
.number{
  font-size: 36px;
  font-family: "ProximaNova";
  color: rgba( 255, 255, 255, 0.722 );
  line-height: 0.778;
 }
.block_with_reasons_two{
padding-bottom:4%;
}
block_with_reasons_one{
padding-bottom:6%;
}


/*--------------------Participants--------------------*/


.participants > div > div > div > div{
padding-top:4%;
}
.participant ul > li{
list-style-type: none;
}
.participant ul > li:before{
content: "- ";
}
.text_in_block_participant{
  font-size: 24px;
  font-family: "ProximaNova";
  color: rgb( 68, 68, 68 );
  line-height: 1.167;
}
.participants.ng-scope {
    padding-bottom: 53%;
}
.participant ul li{
  font-size: 16px;
  font-family: "ProximaNova";
  color: rgb( 68, 68, 68 );
  line-height: 1.438;
  text-align: left;
  margin-left: -39px;
   margin-top: 9px;
}
.result p{
    font-size: 22px;
    font-family: "ProximaNova";
    color: rgb( 74, 74, 74 );
    line-height: 1.167;
    text-align: left;
}
.participant ul {
    padding-bottom: 22px;
    padding-top: 4px;
}
.result > img {
    padding-bottom: 22px;
}
.image {
    margin-top: -51px;
}
.image > img{
    padding-bottom:30px;
}


/*--------------------Profit--------------------*/


.profit.ng-scope {
    padding-bottom: 50%;
}
.profit > div > div > div > div > p {
    color: white;
    padding-top: 5%;
}
.profits > span {
    color: rgba(255, 255, 255, 0.82);
    font-size: 31px;
}
.profits > p{
  margin-top:9px;
  font-size: 16px;
  font-family: "ProximaNova";
  color: rgb( 255, 255, 255 );
  line-height: 1.313;
  text-align: left;
}
.block_with_text {
    margin-top: 32%;
    padding-bottom: 6%;

}
.placement.ng-scope {
    padding-bottom: 39%;
}
.placement > div > div > div > div {
    padding-top: 4%;
    padding-bottom: 3%;
}
.placement_block > p {
    font-size: 16px;
    font-family: "ProximaNova";
    color: rgb( 68, 68, 68 );
    line-height: 1.25;
    text-align: center;
    margin-top: -69px;
    width: 75%;
    margin-left: 28px;
}

.placement_block > img{
  width:93%;
}


/*--------------------Program--------------------*/


.program.ng-scope {
    padding-bottom: 124%;
    padding-top: 3%;
}
.tabs {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}
.tabs:after {
	content: "";
	clear: both;
	display: block;
	height: 240px;
}
.tabs li {
	float: left;
}
.tabs li > input {
	display: none;
}
.tabs li > label {
     height: 106px;
     width: 111px;
     margin-left: 68px;
     border-radius: 66px;
     background-color: #e8e8f5;
     line-height: 30px;
     padding: 5px 20px;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
.tabs li:last-child > label {
	border-right-width: 1px;
}
.tabs .tab-content {
    display: none;
    position: absolute;
}
.text_bold {
  font-size: 16px;
  font-family: "ProximaNova";
  color: rgb( 68, 68, 68 );
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
}
.contents {
    width: 84%;
    text-align: left;
    padding-left: 55px;
    font-size: 16px;
    font-family: "ProximaNova";
    color: rgb( 255, 255, 255 );
    line-height: 1.429;
    margin-top: -13px;
}
.name {
    margin-top: 4%;
    padding-left: 5%;
    padding-right: 29%;
}
p.technical_audit {
    margin-top: 103px;
    width: 89%;
    padding-left: 7.3%;
    padding-bottom: 21px;
}
.content {
    font-size: 16px;
    font-family: "ProximaNova";
    color: rgb( 68, 68, 68 );
    line-height: 1;
    background-size: 88%;
    background-repeat: no-repeat;
    padding-bottom: 53px;
}
p.data_in_tab_content {
    margin-bottom: 7%;
}
p.time_program {
    margin-left: 71.8%;
}
p.tab_content_photo {
    float: left;
    margin-left: -5%;
    margin-top: -21px;
}
.tabs li > input:checked + label {
	background: rgb(110,67,132); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(110,67,132,1) 1%, rgba(207,38,115,1) 60%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(110,67,132,1) 1%,rgba(207,38,115,1) 60%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(110, 67, 132, 0.78) 1%,rgba(207, 38, 115, 0.91) 60%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.tabs li > input:checked ~ .tab-content {
	display: block;
	margin-top: 44px;
}
p.side_panel > img {
    width: 20.3%;
    margin-top: 242px;
    margin-left: 47px;
}
.data1{
  margin-top: -38px;
  font-size: 14px;
  font-family: "ProximaNova";
  color: rgb( 255, 255, 255 );
  line-height: 1.75;
  text-align: center;
}
.data2{
  margin-top: -11px;
  font-size: 14px;
  font-family: "ProximaNova";
  color: rgb( 255, 255, 255 );
  line-height: 1.75;
  text-align: center;
}
p.horizontal_line1 > img {
    margin-left: -117px;
    margin-top: 43px;
}
p.horizontal_line > img {
    margin-top: 44px;
    margin-left: 91px;
    width: 100px;
    height: 8px;
}
p.horizontal_line2 > img {
    margin-top: 43px;
    margin-left: -88px;
    width: 68px;
    height: 8px;
}
p.horizontal_line4 > img {
    margin-left: 359%;
    margin-top: -135%;
}


/*--------------------Social_network--------------------*/


.social_network.ng-scope {
    padding-bottom: 16%;
}
.social_network.ng-scope > div> div > div > div > p {
    margin-top: 8%;
}
p.social_icons {
    text-align: center;
    margin-top: -5%;
}


/*--------------------Organizer--------------------*/


.organizer{
background-repeat: no-repeat;
padding-bottom:36%;
background-size: contain;
}
.organizer > div > div > div > div > p{
color: white;
margin-top: 5%;
}
p.the_landing_page {
    text-align: center;
    margin-top: -34px;
}
.organiz {
    width: 49%;
}
.contact_information2 {
    font-size: 16px;
    font-family: "ProximaNova";
    color: rgb( 251, 249, 248 );
    line-height: 1.875;
    text-align: left;
    margin-top: 89px;
}
.contact_information2 > p {
  margin-top: -66px!important;
}


/*--------------------Partners--------------------*/


.logo_partners > img {
    display: inline-block;
    width: 19%;
}
.partners > div > div > div > div > p {
margin-top:2%;
}
.logo_partners {
    margin-top: -5%;
    padding-bottom: 4%;
}
block_free_registration > div > div > div > div > p{
padding-top:3%;
padding-bottom:3%;
}
block_free_registration {
padding-bottom:25%;
}
.partners.ng-scope {
    padding-bottom: 25%;
}
.block_free_registration.ng-scope {
    padding-bottom: 14%;
    padding-top: 4%;
}
.button_in_block_registration .form-control {
    border-color: rgba(45, 43, 43, 0.8);
    color: rgba(45, 43, 43, 0.8);
  }
.button_in_block_registration  > div > input[type="text"]::-moz-placeholder {
  color: rgba(45, 43, 43, 0.8);
}
.row.button_in_block_registration {
    margin-left: 1%;
}


/*--------------------Footer--------------------*/


#footer {

  background-image: linear-gradient(to right,rgb(128, 75, 137) 0%,rgb(157, 73, 135) 50.8%,rgb(180, 67, 127) 95.2%);
}
#footer {
    padding-top: 74px;
    padding-bottom: 138px;
    font-size: 20px;
    z-index: 5;
    font-weight: 300;
    text-align: left;
}
#footer div div div div
{
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
}
.footer.partner {
  margin-top: 15px!important;
  padding-left: 57px!important;
}
.footer.contact_information {
  margin-top: -7px!important;
}
.footer.free_registration {
    margin-top: 14px!important;
    padding-left: 59px!important;
}
input[type="text2"]::-webkit-input-placeholder {
  color: black!important;
  text-align:center;
}
input.form-control.ng-pristine.ng-empty.ng-valid-email.ng-invalid.ng-invalid-required.ng-touched {
    margin-top: 9%;
    margin-left: 0%;
}
.form-signin >.col-lg-6.col-lg-push-3.col-md-3.col-sm-4.col-sm-push-3.col-xs-9.col-xs-push-2 {
    margin-top: 2.1%;
    margin-left: 5%;
}
button.button_registration.btn.btn-lg.btn-primary.btn-block {
    width: 25%;
    margin-left: 36.5%;
    margin-top: 10%;
}
/*--------------------------------------------------------------*/
.col-lg-8.col-lg-push-2.col-sm-12.col-md-12.col-xs-12 {
    display: block;
    overflow: hidden;
}
@media (min-width: 1400px){
.registration {
    padding-bottom: 40%!important;
    background-size: contain!important;
}
.speaker {
    padding-top: 548px!important;
}

.speaker h5 {
    margin-top: -369px!important;

}
.left_button {
    margin-left: 70px!important;
}
div#reasons {
    padding-bottom: 22%!important;
}
.participants.ng-scope {
    padding-bottom: 29%!important;
}
.block_with_text {
    margin-top: 13%!important;
    padding-bottom: 5%!important;
}
.profit.ng-scope {
    background-size: contain!important;
    padding-bottom: 31%!important;
}
}

@media (min-width: 481px) and (max-width: 770px){
.center {
    width: 760px;
}
.free_registration {
    margin-left: -39px!important;
}
.partners.ng-scope {
    padding-bottom: 42%!important;
}
.block_free_registration.ng-scope {
    padding-bottom: 20%!important;
    padding-top: 5%!important;
}
.social_network.ng-scope {
    padding-bottom: 22%!important;
}
.organizer {
    padding-bottom: 55%!important;
    background-size: cover!important;
}
.program.ng-scope {
    padding-bottom: 217%!important;

}

.partner {
    margin-left: -4px!important;
}
p.side_panel > img {
    width: 15.2px!important;
    margin-top: 233px!important;
    margin-left: 47px!important;
}
.content {
    background-size: 105%!important;
    padding-bottom: 53px;
}
p.tab_content_photo {
    margin-left: 41%!important;
}
.participants.ng-scope {
    padding-bottom: 92%!important;
}
.profit.ng-scope {
    padding-bottom: 74%!important;
}
.col-lg-3.col-md-3.col-sm-3.col-xs-12.free_registration.footer {
    padding-left: 16%!important;
}
.registration {
    padding-bottom: 79%!important;
}
.free_registration {
    padding-left: 43px!important;
}
.contact_information {
    width: 27%!important;
    margin-left: 11px!important;
}
#header div div div div {
    display: inline-block;
    width: 24%;
}
.partner {
    margin-left: -13px;
}
.speaker {
    padding-top: 155px!important;
    margin-right: 0px!important;

}
.speak {
    padding-bottom: 53%!important;
}
.right_button {
    padding-left: 42px!important;
}
div#reasons {
    padding-bottom: 59%!important;
    background-size: cover!important;
}
.button{
display:none;}
}
@media (max-width: 480px) {
.logo_images > img {
    width: 162px;
    margin-left: 72px;
}
.free_registration {
    margin-left: 23%!important;
}
#footer {
    padding-top: 25px!important;
    padding-bottom: 100px!important;
}
.participant ul li {
    text-align: center!important;
}
.result p {
    font-size: 19px!important;
    text-align: center!important;
}
.image {
    text-align: center;
    margin-top: -12px!important;
}
.data1 {
    margin-top: 11px!important;
    font-size: 12px!important;
}
.data2 {
    margin-top: -17px!important;
    font-size: 12px!important;
}
.horizontal_line, .horizontal_line1, horizontal_line2, horizontal_line4  {
    display: none;
}
p.horizontal_line4 {
    display: none;
}
p.horizontal_line2 {
    display: none;
}
.tabs li > label {
    height: 89px!important;
    width: 89px!important;
    margin-left: -2px!important;
    margin-right: 7px!important;
}
.content {
    font-size: 12px!important;
    background-size: cover!important;
    margin-left: -37%!important;
    padding-bottom: 53px!important;
}
.program.ng-scope {
    display: none;
}
.program.ng-scope {
    padding-bottom: 124%;
    padding-top: 3%;
    display: none;
}
p.side_panel > img {
    width: 112.3%!important;
    margin-top: 230px!important;
    margin-left: -43px!important;
}
.participants.ng-scope {
   padding-bottom: 386%!important;
}
.placement_block > img {
    margin-left: 29%!important;
}
.placement_block > p {
    font-size: 12px!important;
    margin-top: -55px!important;
    margin-left: 38%!important;
}
.placement_block > p {
    font-size: 14px!important;
    margin-top: -55px!important;
}
.organiz {
    width: 80%!important;
    padding-bottom: 17%!important;
    padding-top: 3%!important;
}
.placement.ng-scope {
    padding-bottom: 250%!important;
}
.social_network.ng-scope {
    padding-bottom: 59%!important;
}
.organizer > div > div > div > div > p {
    text-align: center;
}
.partners.ng-scope {
    padding-bottom: 80%!important;
}
.block_free_registration.ng-scope {
    padding-bottom: 65%!important;
}
.logo_partners > img {
    width: 29%!important;
    margin-right: 3%!important;
}
.partners.ng-scope {
     padding-bottom: 140%!important;
 }


.organizer {
    padding-bottom: 146%!important;
    background-size: cover!important;
}
.profit.ng-scope {
    padding-bottom: 223%!important;
}
.profits > p {
    margin-left: 60px!important;
}
.profits > span {
    float: left;
    margin-left: 4%!important;
}
 div#reasons {
     padding-bottom: 207%!important;
     background-size: 589%!important;
     background-repeat: no-repeat;
 }
.button_none{
display:none;
}
.number {
    font-size: 24px!important;
    text-align: center!important;
}
.reasons {
    font-size: 13px!important;
    text-align: center!important;
}
.speak {
    padding-bottom: 210%!important;
}
.center-block div img {
     margin-left: 63%!important;
 }
.center_line {
     padding-right: 66%!important;
}
button.button_registration {
    margin-left: 0%;
}
.input-group {
    margin-left: 0px!important;
}
.block_with_icons > div {
    margin-left: 0px!important;
}
.block_with_icons {
    font-size: 12px!important;
}
.row.block_with_icons img {
    width: 27%;
}
.button_registration {
    padding-right: 3.5%!important;
    margin-top: 8%!important;
}
.button_registration {
    margin-left: 13px;
}
.partner {
    display: none!important;
}
.contact_information {
    display: none!important;
}

.registration {
    padding-bottom: 195%!important;
}
.text_one {
    padding-top: 0!important;
    font-size:24px!important}
.text_two {
    font-size: 19px!important;
    width: 96%!important;
    margin-left: 5px!important;
    padding-top: 7px!important;
    padding-bottom: 23px!important;
}
.center-line {
    padding-right: -1%!important;
}

.speaker h5 {
    font-size: 11px!important;
}
.speaker p {
    font-size: 11px!important;
}

.speaker {
    padding-top: 137px!important;
    margin-bottom: 30px!important;
    margin-left: 22px!important;
    width: 38%!important;
    /* background-size: 115px!important; */
}
}
@media (min-width: 1125px) and (max-width: 1999px){
    div#speakers {
        /* padding-top: 10%!important; */
        padding-bottom: 43%!important;
    }
    .participants.ng-scope {
        padding-bottom: 66%!important;
    }
    .profit.ng-scope {
        padding-bottom: 64%!important;
    }
    p.tab_content_photo {
        margin-left: 43%!important;
    }
    .registration {
        padding-bottom: 49%!important;
    }
    .program.ng-scope {
        padding-bottom: 125%!important;;

    }
    .organizer {
        padding-bottom: 38%!important;
        background-size: inherit!important;
    }
    .speaker h5 {
        margin-top: -28px;
        font-size: 15px;
        font-family: "ProximaNova";
        color: rgb( 68, 68, 68 );
        font-weight: bold;
        line-height: 1.25;
        text-align: center;
    }
     div#speakers {
            /* padding-top: 10%!important; */
            padding-bottom: 43%!important;
        }
        .content {
            padding-bottom: 60px!important;
        }
    }
 @media (min-width: 1200px) and (max-width: 1300px){
     p.technical_audit {
         margin-top: 83px!important;

     }
     p.time_program {
         margin-left: 68.8%!important;
     }
     .name {

         padding-left: 17%!important;

     }
p.tab_content_photo {
    margin-left: 0%!important;
}
.contact_information {
    width: 22%!important;
}

.speaker {
    padding-top: 191px;
    background-size: 146px;
    padding-bottom: 5%;
}
 }
@media (min-width: 1301px) and (max-width: 1400px){
.content {
    padding-bottom: 51px!important;
}
.speaker {
    padding-top: 220px!important;
    background-size: 150px!important;
}

}
@media (min-width: 1401px) and (max-width: 1500px){
.registration {
    padding-bottom: 40%!important;
}
}
